<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Expense Tracker</title>
	<link rel="stylesheet" href="/css/style2.css">
</head>

<body>
	<div class="main">
		<div class="top">
			<div class="header">
				<div class="overlay">
					<div class="header-content">
						<h1>MANAGE YOUR EXPENSES LIKE A PRO!</h1>
						<span>Organize your finances with ease and efficiency using our powerful expense tracker.</span>
						<br>
						<a href="./calculate" class="btn-primary">Calculate Now</a>
					</div>
				</div>
			</div>
		</div>
		<div class="line"></div>
		<div class="features">
			<h2 class="prose">Why Use Our Expense Tracker?</h2>
			<div class="feature-box-container">
				<div class="feature-box">
					<h3>Real-time Tracking</h3>
					<p>Monitor your expenses and income instantly to stay on track.</p>
				</div>
				<div class="feature-box">
					<h3>Custom Categories</h3>
					<p>Organize your expenses by categories that suit your lifestyle.</p>
				</div>
				<div class="feature-box">
					<h3>Insightful Reports</h3>
					<p>Get detailed reports to better understand your spending habits.</p>
				</div>
				<div class="feature-box">
					<h3>Graph Representation</h3>
					<p>Visualize your spending patterns with detailed graphs and charts for better financial insight.
					</p>
				</div>
				<div class="feature-box">
   					<h3>Data Security with MongoDB</h3>
					<p>Your financial data is safely stored in MongoDB, ensuring reliable data management and access.</p>
				</div>
				<div class="feature-box">
					<h3>Unlimited Expense Recording</h3>
					<p>Add, edit, or delete as many expense records as you need with complete control over your data.
					</p>
				</div>

			</div>
		</div>
		<div class="line"></div>
		<div class="images">
			<h2 class="prose">Explore Our Features</h2>
			<div class="image-gallery">
				<img src="./images/image1.png" alt="Expense Dashboard" />
				<img src="images/image2.png" alt="Track Categories" />
				<!-- <img src="images/image3.jpg" alt="Financial Reports" /> -->
			</div>
		</div>
	</div>

</body>

</html>
