<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="/css/style1.css">
</head>

<body>
	<div class="container">
		<h2>Login</h2>

		<form action="/login" method="POST" id="loginForm">
			<label for="username">Username</label>
			<input type="text" name="username" id="loginUsername" required>

			<label for="password">Password</label>
			<input type="password" name="password" id="loginPassword" required>

			<button type="submit">Login</button>
		</form>
		<p>Don't have an account? <a href="/signup">Sign up</a></p>
		<% if (error) { %>
			<span>
				<%= error %>
			</span>
			<% } %>
	</div>
</body>

</html>