<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Signup</title>
	<link rel="stylesheet" href="/css/style1.css">
</head>

<body>
	<div class="container">
		<h2>Sign Up</h2>

		<% if (error) { %>
			<div class="error">
				<%= error %>
			</div>
			<% } %>

				<form action="/signup" method="POST" id="signupForm">
					<label for="username">Username</label>
					<input type="text" name="username" id="signupUsername" required>

					<label for="password">Password</label>
					<input type="password" name="password" id="signupPassword" required>

					<button type="submit">Sign Up</button>
				</form>
				<p>Already have an account? <a href="/login">Login</a></p>
	</div>
</body>

</html>